/* common css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #444;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: 400;
  font-display: optional;
  color: #444;
}

.hide {
  display: none;
}

header {
  padding: 0 20px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background: #00CCFF;
  z-index: 99;
}

.header-inner-wrapper {
  display: flex;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #fff;
}

.header-left-logo {
  width: 100px;
  flex: none;
  text-align: left;
}

.header-mid-name {
  flex: 1;
  text-align: center;
}

.header-right {
  width: 100px;
  flex: none;
  text-align: right;
}

.bottom-bar {
  width: 100%;
  height: 26%;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000;
  background: #fff;
  transition: left .6s;
  overflow-y: scroll;
}

.bottom-bar-header {
  height: 50px;
  background: #00CCFF;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
}

.bottom-bar-main.li {
  height: 60px;
  line-height: 60px;
  border-bottom: solid 1px #eee;
}

a {
  margin-left: 20px;
}

i {
  margin-right: 20px;
}

span {
  display: inline-block;
  height: 60px;
  line-height: 60px;
}

.bottom-bar.hide{
  display: block;
  left: -70%;
}
.main {
  padding-top: 70px;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-size: 36px;
  line-height: 200px;
  margin: 0 auto;
}

.skeleton {
  position: absolute;
  top: 150px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  background: #ccc;
  height: 50px;
  color: #eee;
  line-height: 50px;
}

.shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 500;
  transition: opacity .5s
}


/* loading, borrowed from https://loading.io/css/ */
.loading {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #444;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #444 transparent transparent transparent;
}

.loading div:nth-child(1) {
  animation-delay: -0.45s;
}

.loading div:nth-child(2) {
  animation-delay: -0.3s;
}

.loading div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
